.validation-popover {
  @extend %popover;

  width: auto;
  font-size: 10px;
  line-height: 16px;
  border-top: 5px solid #fff;
  top: 42px;
  max-width: 300px;
  border-radius: 1px;
  text-align: left;
  margin-right: -1000px;

  $colors: (
    warning: (
      #fef2e2,
      #ffad7a
    ),
    error: (
      #ffe4e8,
      #f37777
    ),
    valid: (
      #d2fbe6,
      #6bd4a5
    )
  );

  @each $type, $color in $colors {
    $accent: nth($color, 1);
    $glyph: nth($color, 2);

    &.#{$type} {
      border-top-color: $accent;
    }

    li.#{$type}:before {
      color: $glyph;
    }
  }

  ul {
    padding: 6px;
  }

  li {
    padding-left: 18px;
    position: relative;

    &:before {
      font-family: FontAwesome;
      position: absolute;
      left: 3px;
    }

    &.error:before {
      content: "\f06a";
    }

    &.valid:before {
      content: "\f058";
    }

    &.warning:before {
      margin-left: -1px;
      content: "\f071";
    }
  }
}
