@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/_variables';
@import '~font-awesome/scss/_path';

@import '_mixins';
@import '_placeholders';

* {
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:link {
  text-decoration: none;
}

body,
html,
#root,
.app {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #4a585f;
  height: 100%;
}

input::placeholder {
  color: #ccc;
}

button {
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  background: none;
  border: none;
  font-size: 0.6rem;
  padding: 4px 6px;
  transition: color 200ms ease-in-out, background 200ms ease-in-out,
    box-shadow 200ms ease-in-out, border-color 200ms ease-in-out;
}

.button-busy:before {
  @extend %loader;
  content: '';
  display: inline-block;
  height: 7px;
  width: 7px;
  border-width: 1px;
  margin-right: 4px;
}

@import '_header';
@import '_grouping';
@import '_fields';
@import '_artwork';
@import '_typeahead';
@import '_importer';
@import '_validation';
