[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

sqlalchemy = "*"
"beautifulsoup4" = "*"
watchdog = "*"
mutagen = "*"
sanic = "*"
sanic-cors = "*"
requests = "*"
keyfinder = {git = "https://github.com/EvanPurkhiser/keyfinder-py", editable = true}
pillow = "*"


[dev-packages]
