@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* { box-sizing: border-box; }

ol, ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body, html, #root {
  margin: 0;
  font-family: "Open Sans";
  color: #4a585f;
  height: 100%;
}

.app {
  height: 100%;

  > header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    z-index: 2;
    background: #fff;
  }

  > header h1 {
    margin: 0;
    margin-bottom: 4px;
    font-size: 20px;
  }
}

.field-heading {
  margin-top: 20px;
  margin-bottom: 5px;
  user-select: none;
  cursor: default;
}

.track-groups {
  margin: 0 15px;
  padding: 0;
  padding-top: 120px;
  padding-bottom: 15px;
}

.track-listing,
.field-heading,
.field input {
  font-family: "Open Sans Condensed";
  font-size: 12px;
  line-height: 24px;
  color: #757c80;
}

.track-listing,
.field-heading {
  display: flex;
  border-bottom: 1px solid #d2d6d8;
}

.track-listing:last-child {
  border-bottom: none;
}

.field {
  padding: 0 6px;
  border-left: 1px solid #d2d6d8;

  &:first-child {
    border-left: none;
  }
}

.track-listing .field {
  height: 32px;
  padding: 3px 6px;
  position: relative;

  &:not(.marked) {
    line-height: 28px;
  }
}

.field.marked {
  transition: color 200ms ease-in-out;

  &.error:after   { background: #ffa4a4; }
  &.warning:after { background: #ffce97; }
  &.valid:after   { background: #a8ffa4; }

  &:after {
    content: '';
    display: block;
    height: 3px;
    width: calc(100% - 12px);
    bottom: 3px;
    background: #f7f7f7;
    position: absolute;
  }
}

%hidden-with-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Field headings */
$field-sizes: (
  file-name: 180px,
  artwork:   33px,
  artist:    220px,
  album:     300px,
  remixer:   160px,
  publisher: 150px,
  release:   100px,
  year:      40px,
  genre:     80px,
  track:     45px,
  disc:      45px,
  bpm:       50px,
  key:       35px,
  actions:   30px,
);

@each $name, $width in $field-sizes {
  .#{$name} { width: $width; }
}

.title {
  flex-grow: 1;
}

$centered-fields: (
  'artwork',
  'release',
  'year',
  'genre',
  'track',
  'disc',
  'bpm',
  'key',
);

@each $field in $centered-fields {
  .#{$field}, .#{$field} input { text-align: center; }
}

.selector {
  display: flex;
  align-items: center;
  justify-content: center;

  input { cursor: pointer; }
}

.key {
  @extend %hidden-with-ellipsis;
}

.filed-heading .artwork,
.track-listing .artwork {
  padding-left: 3px;
  padding-right: 3px;
}

/* Fields */
.field input {
  border: none;
  outline: none;
  font-family: "Open Sans Condensed";
  font-size: 12px;
  line-height: 24px;
  background: transparent;

  &[type="text"] {
    width: 100%;
  }
}


/**
 * The tracklist filename will show the full title when hovered over
 */
.track-listing  .file-name {
  position: relative;

  .fixed {
    @extend %hidden-with-ellipsis;
  }

  .full {
    opacity: 0;
    position: absolute;
    top: 0;
    padding: 3px 0 1px 0;
    white-space: nowrap;
    z-index: 2;
    background: #fff;
    pointer-events: none;
    transition: opacity 300ms ease-in-out;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: -60px;
      width: 60px;
      height: 100%;
      background: linear-gradient(to right,
        rgba(255,255,255,1) 0%,
        rgba(255,255,255,0) 100%
      );
    }
  }

  &:hover .full {
    opacity: 1;
  }
}

/* Track listings */
.track-group {
  background: #fff;
}

.track-group:hover .drag-handle {
  opacity: 1;
}

.listing-name {
  cursor: pointer;
  font-family: "Open Sans Condensed";
  margin: 14px 6px;
  font-size: 13px;
  display: inline-block;

  &.root-listing:after {
    content: 'import root';
    color: #dfe4e6;
  }

  ol.path-parts,
  &.root-listing:after {
    margin-left: 6px;
  }

  input {
    cursor: pointer;
    vertical-align: bottom;
  }

  .drag-handle {
    opacity: 0;
    transition: color 150ms ease-in-out,
                opacity 200ms ease-in-out;
    position: absolute;
    left: 2px;
    text-decoration: none;
    color: #e2e3e4;
    padding: 0 6px;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;

    &:after {
      font-family: FontAwesome;
      content: '\f0c9';
    }
  }

  &:hover .drag-handle{
    color: #8c969a;
  }
}

.group-reordering .drag-handle {
  color: #8c969a;
  left: -11px;
  opacity: 1;

  &:after {
    content: '\f0dc';
  }
}

ol.path-parts {
  display: inline-block;
}

ol.path-parts li {
  display: inline-block;

  &:not(:last-child):after {
    content: '—';
    padding: 0 6px;
    color: #dfe4e6;
  }
}

.empty-artwork {
  height: 26px;
  width: 26px;
  background: #f7f7f7;
  border-radius: 2px;

  &:after {
    font-family: FontAwesome;
    content: '\f03e';
    color: #ddd;
  }
}


