@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@mixin fontawesome($code) {
  font-family: FontAwesome;
  content: '#{$code}';
}

@mixin checkered-background {
  background-size: 10px 10px;
  background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
  background-color: #fff;
  background-image: linear-gradient(45deg, #eee 25%, rgba(0, 0, 0, 0) 25%),
                    linear-gradient(-45deg, #eee 25%, rgba(0, 0, 0, 0) 25%),
                    linear-gradient(45deg, rgba(0, 0, 0, 0) 75%, #eee 75%),
                    linear-gradient(-45deg, rgba(0, 0, 0, 0) 75%, #eee 75%);
}

* { box-sizing: border-box; }

ol, ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:link {
  text-decoration: none;
}

body, html, #root {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #4a585f;
  height: 100%;
}

.app {
  height: 100%;

  > header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    z-index: 2;
    background: #fff;
  }

  > header h1 {
    margin: 0;
    margin-bottom: 4px;
    font-size: 20px;
  }
}

.field-heading {
  margin-top: 20px;
  margin-bottom: 5px;
  user-select: none;
  cursor: default;
}

.track-groups {
  margin: 0 15px;
  padding: 0;
  padding-top: 120px;
  padding-bottom: 15px;
}

.track-listing,
.field-heading,
.field input {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: #757c80;
}

.track-listing,
.field-heading {
  display: flex;
  border-bottom: 1px solid #d2d6d8;
}

.track-listing:last-child {
  border-bottom: none;
}

.field {
  padding: 0 6px;
  border-left: 1px solid #d2d6d8;

  &:first-child {
    border-left: none;
  }
}

.track-listing .field {
  height: 32px;
  padding: 3px 6px;
  position: relative;

  &:not(.marked) {
    line-height: 28px;
  }
}

.field.marked {
  transition: color 200ms ease-in-out;

  &.error:after   { border-color: #ffa4a4; }
  &.warning:after { border-color: #ffce97; }
  &.valid:after   { border-color: #a8ffa4; }

  &:after {
    content: '';
    display: block;
    height: 0;
    width: calc(100% - 12px);
    bottom: 3px;
    position: absolute;

    // Set the base border color to trasnparent so the artwork marker does not
    // inherit any colors. We can't specify this in the artwork marker as it is
    // too specific and the indicator colors would not overrride it.
    border-color: transparent;
    border-top: 3px solid #f7f7f7;
  }

  &.artwork:after {
    width: 0;
    height: 0;
    right: 3px;
    border-width: 3px;
    border-style: solid;
    border-top-color: transparent;
    border-left-color: transparent;
  }
}

%hidden-with-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Field headings */
$field-sizes: (
  file-name: 180px,
  artwork:   33px,
  artist:    220px,
  album:     300px,
  remixer:   160px,
  publisher: 150px,
  release:   100px,
  year:      40px,
  genre:     80px,
  track:     45px,
  disc:      45px,
  bpm:       50px,
  key:       35px,
  actions:   30px,
);

@each $name, $width in $field-sizes {
  .#{$name} { width: $width; }
}

.title {
  flex-grow: 1;
}

$centered-fields: (
  'artwork',
  'year',
  'track',
  'disc',
  'bpm',
  'key',
);

@each $field in $centered-fields {
  .#{$field}, .#{$field} input { text-align: center; }
}

.selector {
  display: flex;
  align-items: center;
  justify-content: center;

  input { cursor: pointer; }
}

.key {
  @extend %hidden-with-ellipsis;
  position: relative;

  &.computing:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 9px;
    @extend %loader;
  }

}

.filed-heading .artwork,
.track-listing .artwork {
  padding-left: 3px;
  padding-right: 3px;
}

/* Fields */
.field input {
  border: none;
  outline: none;
  font-size: 12px;
  line-height: 22px;
  background: transparent;
  padding: 0;

  &[type="text"] {
    width: 100%;
  }

  &::selection {
    background-color: rgba(163, 174, 179, 0.3);
  }
}


/**
 * The tracklist filename will show the full title when hovered over
 */
.track-listing  .file-name {
  position: relative;

  .fixed {
    @extend %hidden-with-ellipsis;
  }

  .full {
    opacity: 0;
    position: absolute;
    top: 0;
    padding: 3px 0 1px 0;
    white-space: nowrap;
    z-index: 2;
    background: #fff;
    pointer-events: none;
    transition: opacity 300ms ease-in-out;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: -60px;
      width: 60px;
      height: 100%;
      background: linear-gradient(to right,
        rgba(255,255,255,1) 0%,
        rgba(255,255,255,0) 100%
      );
    }
  }

  &:hover .full {
    opacity: 1;
  }
}

/* Track listings */
.track-group {
  background: #fff;
}

.track-group:hover .drag-handle {
  opacity: 1;
}

.listing-name {
  cursor: pointer;
  font-family: "Open Sans Condensed", sans-serif;
  margin: 14px 6px;
  font-size: 13px;
  display: inline-block;

  &.root-listing:after {
    content: 'import root';
    color: #dfe4e6;
  }

  ol.path-parts,
  &.root-listing:after {
    margin-left: 6px;
  }

  input {
    cursor: pointer;
    vertical-align: bottom;
  }

  .drag-handle {
    opacity: 0;
    transition: color 150ms ease-in-out,
                opacity 200ms ease-in-out;
    position: absolute;
    left: 2px;
    text-decoration: none;
    color: #e2e3e4;
    padding: 0 6px;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;

    &:after {
      @include fontawesome('\f0c9');
    }
  }

  &:hover .drag-handle{
    color: #8c969a;
  }
}

.group-reordering .drag-handle {
  color: #8c969a;
  left: -11px;
  opacity: 1;

  &:after {
    content: '\f0dc';
  }
}

ol.path-parts {
  display: inline-block;
}

ol.path-parts li {
  display: inline-block;

  &:not(:last-child):after {
    content: '—';
    padding: 0 6px;
    color: #dfe4e6;
  }
}

.artwork {
  outline: none;

  > img, .empty-artwork {
    display: block;
    height: 26px;
    width: 26px;
    border-radius: 2px;
    cursor: pointer;
  }

  .empty-artwork {
    background: #f7f7f7;

    &:after {
      @include fontawesome('\f03e');
      color: #ddd;
    }
  }

  .empty-artwork.loading:after {
    @extend %loader;
    content: '';
    opacity: 0.5;
    position: relative;
    top: 5px;
    left: 5px;
  }

}

.fullscreen-artwork {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;

  img {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    max-width: 500px;
    margin: 20px;
    margin-top: 80px;

    // checkboard background to indicate transparent images
    @include checkered-background;
  }
}

.artwork-popover {
  @extend %popover;
  display: flex;
  flex-direction: row;
  top: -38px;
  left: 37px;
  padding: 5px;
  user-select: none;

  &:before {
    @extend %popover-arrow;
    border-right-color: #fff !important;
    top: 50%;
    margin-top: -8px;
    left: -15px;
  }

  img {
    display: block;
    height: 64px;
    width: 64px;
    border-radius: 3px;

    // checkboard background to indicate transparent images
    @include checkered-background;
  }

  > li:not(:first-child) {
    margin-left: 4px;
  }

  > li {
    padding: 6px 6px 4px;
    border-radius: 3px;
    position: relative;

    &:hover, &.selected {
      background: #efefef;
      cursor: pointer;
    }

    &:hover .actions {
      display: block;
    }
  }

  ul.actions {
    display: none;
    width: 100%;
    text-align: left;
    font-size: 8px;
    position: absolute;
    top: 2px;
    left: 2px;
    line-height: 6px;

    li {
      display: inline-block;
      padding: 4px;
      background: #fff;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      opacity: 0.8;
    }

    li:not(:first-child) {
      margin-left: 4px;
    }

    li:hover {
      opacity: 1;
    }

    .maximize:after {
      @include fontawesome('\f0b2');
    }

    .remove {
      &:after { @include fontawesome('\f00d'); }
      background: #f16d6d;
      color: #fff;
    }
  }

  .details {
    font-size: 8px;
    text-align: left;
    line-height: 12px;
    font-weight: bold;
    margin-top: 2px;
    text-align: center;
  }

  .uploader label {
    margin: -6px -6px -4px;
    padding: 6px 6px 4px;
    cursor: pointer;
    display: block;

    &:before {
      font-size: 18px;
      @include fontawesome('\f093');
      display: block;
      width: 60px;
      height: 60px;
      line-height:46px;
      border-radius: 5px;
      border: 2px dashed #ddd;
      color: #ddd;
    }

    &:after{
      content: 'Upload';
      text-transform: uppercase;
      font-size: 8px;
      color: #ccc;
      position: absolute;
      top: 40px;
      left: 8px;
      width: 60px;
      text-align: center;

    }

    &:hover:before, &:hover:after {
      color: #bbb;
      border-color: #bbb;
    }
  }

  input[type="file"] {
    display: none;
  }
}

.typeahead {
  position: relative;
}

.typeahead-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  white-space: nowrap;
  pointer-events: none;
  overflow: hidden;

  .shadow {
    // The shadow text has a small ammount of padding to the left to ensure the
    // caret doesn't overlap.
    padding-left: 1px;
    color: #cbd0d4;
  }

  .hidden {
    visibility: hidden;
  }
}

.typeahead-popover {
  @extend %popover;

  top: -3px;
  right: calc(100% + 10px);
  padding: 10px 14px;
  font-size: 10px;
  line-height: 16px;
  max-width: 120px;
  white-space: nowrap;
  padding: 6px 10px;

  &:before {
    @extend %popover-arrow;
    border-left-color: #fff !important;
    top: 6px;
    right: -15px;
  }

  .matched-part {
    color: #ec77b1;
  }

  li {
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 0.5;
  }

  li.focused {
    opacity: 1;
  }
}

%popover {
  position: absolute;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
}

%popover-arrow {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border: 8px solid transparent;
}

%loader {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: block;
  transform: translateZ(0);
  animation: spinner 500ms infinite linear;

  border: 3px solid rgba(77,89,99, 0.2);
  border-left-color: rgba(77,89,99, 1);
}

@keyframes spinner {
  0%   { transform: rotate(0deg);   }
  100% { transform: rotate(360deg); }
}
